<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micai.fox">

    <!-- 微信支付权限 -->
    <!--
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- ibeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="getui.permission.GetuiService.com.micai.fox"
        android:protectionLevel="normal" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- wifi权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SD读写权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 友盟sdk -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 欢迎页面 -->
        <activity
            android:name=".activity.IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 登陆界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 注册的下一步 -->
        <activity
            android:name=".activity.RegistTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 用户协议界面 -->
        <activity
            android:name=".activity.AgreementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 忘记密码界面 -->
        <activity
            android:name=".activity.ResetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 忘记密码的下一步 -->
        <activity
            android:name=".activity.ResetPassTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 忘记密码界面 -->
        <activity
            android:name=".activity.ForgetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 专家详情界面 -->
        <activity
            android:name=".activity.ExpertsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 众筹详情界面 -->
        <activity
            android:name=".activity.ZhongChouDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 购买众筹界面 -->
        <activity
            android:name=".activity.BuyZhongChouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 报告详情界面 -->
        <activity
            android:name=".activity.ReportDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 设置界面 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 消息通知界面 -->
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 我的众筹界面 -->
        <activity
            android:name=".activity.MyZhongChouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 众筹订单详情 -->
        <activity
            android:name=".activity.ZhongChouOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 支付界面 -->
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 我的报告界面 -->
        <activity
            android:name=".activity.MyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 修改昵称界面 -->
        <activity
            android:name=".activity.ModifyNiChengActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <!-- 各项设置详细界面 -->
        <activity
            android:name=".activity.SettingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 收款账户编辑界面 -->
        <activity
            android:name=".activity.AcountEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- //微信支付的界面 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/ActivityTheme" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 友盟 -->
        <!--
         <meta-data
             android:name="UMENG_APPKEY"
             android:value="YOUR_APP_KEY" />
         <meta-data
             android:name="UMENG_CHANNEL"
             android:value="${UMENG_CHANNEL_VALUE}" />
        -->

        <service
            android:name=".service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".service.IntentService" />

        <activity android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"></activity>
    </application>

</manifest>